<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="santa.cruz.ctv.app"
      android:versionCode="1"
      android:versionName="1.0">
   <uses-permission
        	android:name="android.permission.INTERNET" />
        	
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".CTV"
				  android:clearTaskOnLaunch="true"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
       <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchableActivity" />        
		</activity>

		<activity android:name=".CTV1Stream"
            	android:screenOrientation="sensor">
        </activity>
            	<!-- android:label="@string/stream1_name" -->   
        <activity android:name=".CTVStream"
        		android:screenOrientation="sensor"
				android:clearTaskOnLaunch="true"
            	android:finishOnTaskLaunch="true"
            	android:launchMode="singleTask"
       			android:noHistory="true">
        </activity>
        <activity android:name=".ScheduleView"
        		android:screenOrientation="sensor">
        </activity>
<activity android:name=".SearchableActivity" 
	android:launchMode="singleTop" >
        <intent-filter>
            <action android:name="android.intent.action.SEARCH" />
        </intent-filter>
        <meta-data android:name="android.app.searchable"
                   android:resource="@xml/searchable"/>
</activity>

    <!-- this activity enables the search dialog to initiate searches
         in the SearchableActivity -->

<activity android:name=".SearchAct" >
        <!-- enable the search dialog to send searches to SearchableActivity -->
        <meta-data android:name="android.app.default_searchable"
                   android:value=".SearchableActivity" />
</activity>

</application>
    <uses-sdk android:minSdkVersion="8" />


</manifest> 